<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>25005544309-pa0vm5iu9fmt2gnhf2vuglmdkcg3ls58.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25005544309-pa0vm5iu9fmt2gnhf2vuglmdkcg3ls58</string>
	<key>API_KEY</key>
	<string>AIzaSyBuyvoj12WA_mmzgkC61Gupm9bWFop-0fs</string>
	<key>GCM_SENDER_ID</key>
	<string>25005544309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.FaceHeartRate</string>
	<key>PROJECT_ID</key>
	<string>face-heart-rate</string>
	<key>STORAGE_BUCKET</key>
	<string>face-heart-rate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25005544309:ios:0c37a3268b0fd17e</string>
	<key>DATABASE_URL</key>
	<string>https://face-heart-rate.firebaseio.com</string>
</dict>
</plist>